.about_bean {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 900px;  
    margin: 0 auto 50px auto;

    .about_bean_desc {
        text-align: center;
        margin-left: 20px;

        img {
            margin-bottom: 30px;
        }

        .about_bean_desc-item {
            text-align: left;
        }
    }

}

.bold {
    font-weight: bold;
}

.price {
    font-size: 24px;
    margin-left: 10px;
}

.navigation {
    max-width: 850px;
    margin: 30px auto 10px auto;
    a {
        margin-right: 7px;
        font-size: 12px;
        letter-spacing: 1px;
    }
}