a {
    text-decoration: none;
    color: #000;

    &:hover {
        color: #000;
    }
}

.card {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    border: none;
    border-radius: 8px;
    margin: 25px 0;
    text-align: right;
    transition: all .3s ease;

    width: 230px;

    img {
        margin-bottom: 5px;
    }
    p {
        margin: 5px 0;
    }
    span {
        font-weight: bold;
    }
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.45) 0px 7px 29px 0px;
}

.home-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    text-align: right;

    border-radius: 8px;
    background-color: rgba(255, 255, 255, .65);
    margin: 20px 15px;
    padding: 20px;

    cursor: pointer;

    img {
        margin-bottom: 10px;
    }
    span {
        display: flex;
        justify-content: right;
        font-size: 14px;
        font-weight: bold;
    }
}